RECOGNIZE - UPDATING DEFAULT CONNECTION

EXAMPLES

    ai config speech @default.connection --set host wss://localhost:5000/
    ai config speech @key --set @@none

    ai config speech @default.connection --set host wss://chinaeast2.stt.speech.azure.cn
    ai config speech @key --set 436172626F6E20697320636F6F6C2121

    ai config speech @default.connection --set @@connection.from.endpoint
    ai config speech @endpoint --set wss://westus2.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1
    ai config speech @key --set 436172626F6E20697320636F6F6C2121

    ai config speech @default.connection --set @@connection.from.region
    ai config speech @key --set 436172626F6E20697320636F6F6C2121
    ai config speech @region --set westus2

    ai config speech @default.connection --set @@connection.from.host
    ai config speech @host --set wss://localhost:5000/
