<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Debug</Configuration>
    <Platform>x64</Platform>
    <TargetFramework>net6.0</TargetFramework>
    <PublishDir>bin\Debug\net6.0\publish\linux-x64</PublishDir>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
    <PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>