<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="Azure AI CLI" Language="1033" Version="$(var.version)" Manufacturer="Microsoft" UpgradeCode="BDE6DEF4-9259-4BD5-9BC8-FDA1660FF7AD">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="$(var.platform)" />
    <!--
    To prevent problems with bundle upgrades, use MajorUpgrade element here + ProductSearch in the bundle .wxs. Ref.
    https://stackoverflow.com/questions/15156081/wix-bundle-upgrade-a-new-version-of-msi-is-installed-before-the-old-version-is
    -->
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version is already installed."/>

    <!-- Below can be used to control upgrades on a single MSI-only (non-bundle) installation. -->
    <!--
    <Upgrade Id="BDE6DEF4-9259-4BD5-9BC8-FDA1660FF7AD">
      <UpgradeVersion OnlyDetect="yes" Property="SELFFOUND"
        Minimum="$(var.version)" IncludeMinimum="yes"
        Maximum="$(var.version)" IncludeMaximum="yes" />
      <UpgradeVersion OnlyDetect="yes" Property="NEWERFOUND"
        Minimum="$(var.version)" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
        Minimum="1.0.0" IncludeMinimum="yes"
        Maximum="$(var.version)" IncludeMaximum="no" />
    </Upgrade>

    <CustomAction Id="AlreadyUpdated" Error="This version is already installed." />
    <CustomAction Id="NoDowngrade" Error="A newer version is already installed." />
    -->

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Azure AI CLI" />
      </Directory>
    </Directory>

    <!--
    <Property Id="CLI_PACKAGE_VERSION" Value="$(var.packageVersion)" />
    <Property Id="CLI_INSTALL_ERROR" Secure="yes" />
    <CustomAction Id="RunInstallBatchScript"
              Script="vbscript"
              Execute="immediate">
      <![CDATA[
        On Error Resume Next
        Dim objShell, intReturnCode, logFile
        Set objShell = CreateObject("WScript.Shell")
        logFile = objShell.ExpandEnvironmentStrings("%TEMP%") & "\InstallCLI.log"
        intReturnCode = objShell.Run("$(sys.SOURCEFILEDIR)\InstallCLI.cmd " & Session.Property("CLI_PACKAGE_VERSION") & " >" & logFile & " 2>&1", 0, True)
        If intReturnCode <> 0 Then
            Set fso = CreateObject("Scripting.FileSystemObject")
            Set file = fso.OpenTextFile(logFile, 1)
            text = file.ReadAll
            file.Close
            Session.Property("CLI_INSTALL_ERROR") = "Error installing AI CLI: " & text
        End If
      ]]>
    </CustomAction>
    -->
    <CustomAction Id="RunInstallBatchScript" FileKey="InstallBatchScript" ExeCommand="$(var.packageVersion)" Execute="immediate" Return="ignore"/>
    <!--
    <CustomAction Id="ShowNoteOnInstallSuccess" Script="vbscript">
      <![CDATA[
        MsgBox("To use the Azure AI CLI please open a new Command Prompt window." & vbNewLine & vbNewLine & "You can invoke the tool with the following command: ai")
      ]]>
    </CustomAction>
    -->
    <CustomAction Id="RunUninstallBatchScript" FileKey="UninstallBatchScript" ExeCommand="" Execute="immediate" Return="ignore"/>
    <!--
    <CustomAction Id="RunUninstallOnInstallFailureBatchScript" FileKey="UninstallBatchScript" ExeCommand="" Execute="immediate" Return="ignore"/>
    -->

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="InstallBatchScriptComponent" Guid="C7E5D3A1-F3AF-4608-98FB-50A0F93E9831">
        <File Id="InstallBatchScript" Source="$(sys.SOURCEFILEDIR)\InstallCLI.cmd" KeyPath="yes"/>
      </Component>
      <Component Id="UninstallBatchScriptComponent" Guid="F5C23F1E-C9E1-4F07-BFDA-CBB1B9F72C09">
        <File Id="UninstallBatchScript" Source="$(sys.SOURCEFILEDIR)\UninstallCLI.cmd" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <InstallExecuteSequence>
      <!--
      <Custom Action="AlreadyUpdated" After="FindRelatedProducts">SELFFOUND</Custom>
      <Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERFOUND</Custom>
      -->
      <Custom Action="RunInstallBatchScript" After="InstallFinalize">NOT Installed OR REINSTALL OR UPGRADINGPRODUCTCODE</Custom>
      <!--
      <Custom Action="ShowNoteOnInstallSuccess" After="RunInstallBatchScript">NOT Installed AND NOT CLI_INSTALL_ERROR</Custom>
      -->
      <Custom Action="RunUninstallBatchScript" Before="RemoveFiles">Installed AND NOT REINSTALL AND NOT UPGRADINGPRODUCTCODE</Custom>
      <!-- Ensure INSTALLFOLDER is cleared if installation fails -->
      <!--
      <Custom Action="RunUninstallOnInstallFailureBatchScript" After="RunInstallBatchScript">NOT Installed AND CLI_INSTALL_ERROR</Custom>
      -->
    </InstallExecuteSequence>

    <Feature Id="MainFeature" Title="Main Feature" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="$(sys.SOURCEFILEDIR)\CLI_License.rtf"/>
    <UIRef Id="WixUI_Minimal" />

  </Product>
</Wix>
